.search-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 9999;
}

.search-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.search-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-popup-title h2 {
  color: #6d2e17;
  font-size: 20px;
  font-weight: 300;
}

.search-popup-title button {
  background: none;
  border: none;
  padding-right: 10px;
  color: tomato;
  font-size: 22px;
  cursor: pointer;
}

.search-popup-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-results {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  max-height: 60vh;
  overflow-y: auto;
}

.search-result-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.search-result-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.search-result-item p {
  margin: 0;
}

.search-popup-container.hidden {
  opacity: 0;
  visibility: hidden;
}
