.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.login-popup-countainer {
  place-self: center;
  width: max(23vw 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 15px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-title img {
  cursor: pointer;
  width: 14px;
}
.login-popup-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-input input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.login-popup-countainer button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: #d26a36;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}
.login-popup p span {
  color: #d26a36;
  font-weight: 500;
  cursor: pointer;
}
